<html>
<head>
  <title>Twitter Spam</title>
  <script src="http://cdn.jquerytools.org/1.0.2/jquery.tools.min.js"></script>
  <link rel="stylesheet" href="styles/twitter_spam.css" type="text/css"/>
  <script type="text/javascript" src="scripts/twitspam.js"></script>
</head>
<body>
<div id="header"><a href="/"><img src="images/twitter_spam.png"/></a></div>

<div id="main">
  <form action="/check" id="form">
    <p>
      <label for="username">Is who a spammer?</label>
      <input type="text" class="text" id="username" name="username">
      <input type="button" id="submit" class="button" value="Check">
    </p>

  </form>

  <span id="message" style="display:none">
    
  </span>

</div>
<div id="footer">
    Copyright 2009 James Brechtel - <a href="http://www.twitter.com/jbrechtel">Follow me on Twitter</a> - <a href="http://www.google.com/profiles/jbrechtel">My profile</a> - <a href="http://blog.brechtel.us">My blog</a> - <a href="/static/privacy.html">Privacy Policy</a>
</div>
</body>

</html>